{% extends "base.html" %}
{% block content %}
<h1>DETAIL PAGE</h1>
<h2>{{movie.title}}</h2>
<p>{{movie.description}}</p>
<hr>
{% if request.user == movie.user %}
    <a href="{% url "movies:update" movie.pk %} ">update</a>
    <form action="{% url "movies:delete" movie.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value = 'delete'>
    </form>
    <hr>
{% endif %}
<h3>댓글 목록</h3>
{% for comment in comments  %}
<li>
    {{ comment.user }}-{{ comment.content }}
    {% if request.user == comment.user %}
    <form action="{% url "movies:comment_delete" movie.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="코멘트 삭제">
    </form>
    {% endif %}
</li>
{% endfor %}
<form action="{% url "movies:comment_create" movie.pk %}" method = 'POST'>
    {% csrf_token %}
    {{comment_form}}
    <input type="submit" value="코멘트작성">
</form>

<a href="{% url "movies:index" %}">Back</a>
{% endblock content %}


